* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;

}

.navbar {

    background-color: aqua;
    display: flex;
    height: 90px;
    justify-content: end;
    align-items: center;
    background-color: #000000;
    padding-right: 20px;

}

.left-content {
    margin-right: 12px;
    color: #FFFFFF;
}

#balance {
    color: #FF7901;
}

.right-content {
    margin-right: 12px;
    margin-left: 15px;
    background-color: #FFFFFF;
    border: none;
    margin: 4px 2px;
    border-radius: 45px;

}

.right-content-inner {
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-content li {
    list-style: none;
}

.arrow-button {
    border: none;
    background-color: #FFFFFF;
}

.sub-menu-1 {
    display: none;
}

.right-content ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    /* background: transparent; */
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 7px;

}

.sub-menu-1 ul li a {
    /* list-style: none; */
    text-decoration: none;
    color: #7D7D7E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}

.sub-menu-1 ul li {
    /* list-style: none; */
    padding: 5px 0px 0px 15px;



}

.logout-button {
    width: 160px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 1, 1, 0.1);
    border: none;
    border-radius: 5px;
}

.logout-button p {
    color: #FF5E5E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-left: 10px;

}

.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
}

.logo {
    /* display: flex; */
    text-align: center;

}

/* .side-nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

.sub-menu-2 {
    margin-top: 40px;
}

.sub-menu-2 p {
    margin-left: 20px;
}

.side-nav div a {
    /* padding: 6px 6px 6px 32px; */

    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #818181;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}

.side-nav div button {
    margin-left: 15px;
    font-size: 14px;
    margin-top: 20px;
}

/* .dropdown-container{
    display: flex;
    align-items: center;
}
.dropdown-container button{
    border: none;
    background-color: #000000;
    margin-left: 80px;
} */
.dropdown-btn {
    /* color:#818181 ;
    text-decoration: none;
    border: none;
    background-color:black; */
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    background-color: black;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-btn img {
    margin-right: 20px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}


.sub-menu-2 a:hover {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    border-right: #FF5E5E;
    color: white;
    border-right: 4px solid #FF7901;
}

.dropdown-btn:hover {
    border-right: 4px solid #FF7901;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    background: #FCFBFF;


}

.left-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 334px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    background: #FFFFFF;

    overflow: hidden;
}

.left-aside div {
    text-align: center;
    padding: 30px 70px 60px 50px;
}

.left-aside div img {
    padding-bottom: 15px;
}

.left-aside div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7D7D7E;
}

.left-aside div h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    color: #26262E;
}

.right-aside {
    margin-top: 30px;
    padding: 50px 10px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {

    width: 260px;
    height: 154px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin-right: 10px;
}

.card-footer {
    display: flex;
    align-items: flex-start;
}

.card-image {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}



.card-title {
    font-family: 'Poppins';
    color: #26262E;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.card-1-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #7D7D7E;

}

.card-1-no {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #BDBDBD;
}

.card-2-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #26262E;
}

.card-2-no {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #26262E;
}

.middle-container {
    margin-left: 210px;
}

.menu-bar {
    width: 99%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #F2F2F4;
    margin-bottom: 45px;

}

.menu-bar ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-bar ul li {
    list-style: none;
    margin-right: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.menu-bar ul li:hover{
    border-bottom: 2px solid #ff7905;
    color: #ff7905;
    transition:50ms;
}

.switch-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    gap: 3%;
}

.switch-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 32px;
    color: #26262E;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked+.slider {
    background-color: #ff7905;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1eeeb;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ff7905;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: #ff7700;
}

input:checked+.slider::before {
    background-color: #fff6ef;
}



input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {

    border: 1px solid #FF7901;
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;

}

.slider.round::after {
    border-radius: 50%;
    color: #BDBDBD;

}

.input-container {
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    width: 350px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.span-coplor {
    color: #FF7901;
}

.input-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.form-container {
    margin-bottom: 100px;
}

#switch {
    border-top: 2px solid #F2F2F4;
    padding-top: 20px;
}

.switch-container button {
    width: 150px;
    height: 48px;
    background: #FF7901;
    border: none;
    /* box-shadow: 0px 20px 50px rgba(255, 121, 1, 0.3); */
    border-radius: 5px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 60px;
}